<div>
**과제설명
<br>
    1.기본접속주소 : authapp.dhdiagram.net(DNS 서비스는 Route53)
    2.OS / DB : Ubuntu19.04 , CloudSQL(MySQL)
        - DB 접속정보

    *기본적으로 모든 페이지들은 로그인을 하지 않으면 볼 수 없도록 되어 있습니다

    *회원가입 : authapp.dhdiagram.net/join/register
    *로그인 : authapp.dhdiagram.net/join/login
    *로그인인증 검증에 대한 페이지(제고수집페이지) : authapp.dhdiagram.net(실제 값을 넣으면 DB까지 Insert 되는 페이지 입니다)
    *토큰발급_1(Rest) : authapp.dhdiagram.net/api/token(포스트맨에서 POST로 회원가입시 입력한 아이디/패스워드로 토큰 발급)
    *토근발급후로그인(Rest) : authapp.dhdiagram.net/serverall(포트스맨에서 토근 입력 후 GET으로 요청하면 제고수집리스트 목록이 보입니다)
    *ApiDocument(Swagger) : authapp.dhdiagram.net/api/doc(Swagger를 이용한 API Document 웹페이지 입니다)
</div>



