{% block content %}
<form action="" method="post">
    {% csrf_token %}
<div>
    <strong>로그인 페이지 입니다. 가입하신 username을 기반으로 로그인을 진행해 주세요</strong>
</div>
    {{ form.as_p }}
    <input type="submit" value="로그인">
</form>
{% endblock %}


<!--
<div class="">
    <form method="POST", action="/stock_member/home/">
        {% csrf_token %}
            <label for="username">사용자 이름 입력</label>
            <input type="text" class="form-control" id="username", name="username" placeholder="사용자 이름">
            <label for="password">비밀번호 입력</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
        <input type="submit" value="로그인">
    </form>
</div>
-->


